elpa/*
session*
.emacs.d/url
.emacs.d/auto-saves-list/*
.emacs.d/auto-save-list/
box.el
recentf
git_packages
auto-save-list
backups
.cache
.cask
.mc-lists.el
history
transient
var
.elc
*~
\#*#
games/
url/
desktop.ini
emojis/
tramp
*.bck

org-roam.db
speed-type/
games/
.dap-breakpoints
.lsp-session-v1
.org-id-locations
bookmarks
projectile-bookmarks.eld
temp-lisp.el